body {
  font-family: monospace;
  font-size:16px;
  margin: auto;

}

h1 {
  text-align: center;
  color:white;
  padding:10px;
  font-family: courier; 
}

h3 {
  text-align: center;
  padding: 10px;
  color:white;
  font-family: courier;
}

h4 { 
  text-align: center;
  font-style:italic;
  padding-bottom:20px;
  color:white;
  padding: 10px;
  
}

.bpadding10 {
  padding-bottom:10px;
}

.tpadding50 {
  padding-top:50px;
}

.tpadding20 {
  padding-top:20px;
}

.bpadding20 {
  padding-top:20px;
}

li {
  padding:5px;
}

#image {
  max-width:100%;
  height:auto; 
  display:block;
  margin:auto;
  padding: 10px;
}

.conatiner1 {
  background:black;
  padding:45px 400px 45px 400px; 
}

.container2 {
  background: #efefef;
  margin-top:-20px;
  padding:0px 250px 0 250px;
  text-align: justify;
}

footer {
  padding:5px;
  text-align:center;
  background-color:black;
  color:white;
}

@media (max-width: 1000px){
      .container2 {
        padding: 0px 10px 0px 10px;
      }
    }

    @media (max-width: 1200px){
      .conatiner1 {
        padding:45px 45px 45px 45px; 
      }
    }

    